html {
  background-color:#1b1b1b;
}

body {
  color:#fafafa;
  margin:0px;
  background-image:url("campanile_bells.jpg");
  background-image:linear-gradient(to bottom, 
                                   rgba(1.0, 1.0, 1.0, 0.0),
                                   rgba(27,27,27,1.0)),
                   url("campanile_bells.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  overflow-y: scroll;
  overflow-x: hidden
}

#menuBar {
  font-family:Monospace;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1b1b1b
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#menuBar li {
  width: 100px;
  height: 35px;
  float: left;
}

#menuBar li a {
  color: #fafafa;
  background: #1b1b1b;
  display: block;
  height: 35px;
  padding: 5px;
  text-align:center;
  text-decoration: none;
}

#menuBar li a:hover {
  color:#262626;
  background:#fafafa;
}

#overview {
  font-family:Times;
  font-size:24pt;
  text-align: center;
  color:#fafafa;
  text-shadow:2px 2px #1b1b1b;
}

h1 {
  text-align: center;
  font-family:Monospace;
  font-size:72pt;
  color:#fafafa;
  text-shadow:2px 2px #1b1b1b;
}

#getInTouch {
  display: table;
  text-align: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 10px;
}

#getInTouch li {
  width: 100px;
  height: 35px;
  float: left;
}

#icon {
  filter:invert(1.0);
}

hr {
  color:#fafafa;
}

h2 {
  font-family:Monospace;
  font-size:42pt;
  text-shadow:2px 2px #1b1b1b;
  margin:20px;
}

h3 {
  font-family:Monospace;
  font-size:24pt;
  text-shadow:2px 2px #1b1b1b;
  margin:30px;
}

p {
  font-family:Times;
  font-size: 14pt;
  margin:40px;
}

a:hover {
  color:#dadada;
}

a:visited {
  color:#fafafa;
}

ul {
  font-family:Times;
  font-size:14pt;
  margin:40px;
}
