html {
  background-color:#000000;
}

body {
  color:#fafafa;
  margin:0px;
  background-repeat:no-repeat;
  background-size:initial;
  overflow-y: scroll;
  overflow-x: hidden
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

#menuBar {
  font-family:Helvetica;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fafafa;
  z-index: 1;
}

.center {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#menuBar li {
  width: 100px;
  height: 35px;
  float: left;
}

#menuBar li a {
  color: #000000;
  background: #fafafa;
  display: block;
  height: 35px;
  padding: 5px;
  text-align:center;
  text-decoration: none;
}

#menuBar li a:hover {
  color:#fafafa;
  background:#000000;
}

a:link {
  color:#1b1b1b;
}

#overview {
  font-family:Helvetica;
  font-size:24pt;
  text-align: center;
  color:#fafafa;
}

h1 {
  text-align: center;
  font-family:Helvetica;
  font-size:72pt;
  color:#fafafa;
}

#getInTouch {
  display: table;
  text-align: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 10px;
}

#getInTouch li {
  width: 100px;
  height: 35px;
  float: left;
}

#icon {
  filter:invert(1.0);
}

#bounding-box {
  margin: auto;
  background: #fafafa;
  padding: 100px;
  width: 50%;
  color: #1b1b1b;
}


hr {
  color:#fafafa;
}

h2 {
  text-align: center;
  font-family:Helvetica;
  font-size:42pt;
  margin:20px;
}

h3 {
  text-align: center;
  font-family:Helvetica;
  font-size:24pt;
  margin:30px;
}

p {
  text-align: center;
  font-family:Helvetica;
  font-size: 14pt;
  margin:40px;
}

a:hover {
  color:#dadada;
}

a:visited {
  color:#2b2b2b;
}

ul {
  font-family:Helvetica;
  font-size:14pt;
  margin:auto;
}
